.git
**/node_modules
**/.next
**/dist
**/coverage
**/*.tsbuildinfo
**/.env*
**/*.local
**/*.log
**/*.dump*
**/*.age
**/*.key
**/*.agekey
**/*.pgpass
**/*.pem
**/*.pass
.pnpm-store
test-results
playwright-report
